<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.oakland.sharedspace" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <uses-permission android:name="android.permission.INTERNET" />
            </intent-filter>
        </activity>

        <!-- Sign In Activity -->
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="edu.oakland.sharedspace.SIGN_IN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Sign Up Activity -->
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
            <intent-filter>
                <action android:name="edu.oakland.sharedspace.SIGN_UP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Create Event Activity -->
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/title_activity_create_event" >
            <intent-filter>
                <action android:name="edu.oakland.sharedspace.Create_Event" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Main Event Activity -->
        <activity
            android:name=".MainEventActivity"
            android:label="@string/title_activity_main_event"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="edu.oakland.sharedspace.Main_Event" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
